body{
	background: #000;
}

._wrapper{
	width:100%;
	height: auto;
	/*background-image: url('../images/neue_bg.jpg');*/
	background-repeat: repeat-y;
	background-size: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	color: #fff;
	/*background-color: #49241E;*/
	/*background-color: #00142C;*/
	background-color: #000;
}

._footer{
	display: inline-block;
	padding-bottom: 15px;
	background-color: black;
	border-top: 5px solid #55FF66;
	width: 100%;
	margin-top: 10px;
	margin-bottom: -5px;
}
._footer ._nav{
	position: relative;
	top: 20px;
	padding-bottom: 10px;
	float: left;
}
._footer ._follow{
	float: right;
	list-style: none;
	list-style-type: none; 
	margin-top: 15px;
}
._footer ._follow span{
	width: 24px;
	height: 24px;
	margin-left: 5px;
	display: inline-block;
}
._footer .facebook{
	background-image: url('/images/facebook.png');
}
._footer .twitter{
	background-image: url('/images/twitter.png');
}
._footer .google{
	background-image: url('/images/google.png');
}

._footer ._sign{
	top: -5px;
	display: inline;
	position: relative;
}
._footer a{
	color: white;
}
._middle{
	width: 90%;
	margin: 0px auto;
	/*margin-left: 5%;*/
}

.page-header {
	margin: 10px 0px;
}
img{
	max-width: 100%;
	height: auto;
}
._bg-transparent a{
	color: #55FF66;
}
._bg-transparent a.btn{
	color: white;
}
._bg-transparent .leaflet-container a{
	color: #0078A8;
}


._bg-transparent a.btn-link{
	color: #55FF66;
}

._bg-transparent a.btn-default {
	color: #333;
}

/*._transparent btn-link{
	color: #55FF66;
}
*/
.preload{
  width: 30%;
  /*margin-top: 20%;*/
  /*position: fixed;*/
  margin-left: 35%;
  z-index: 3000;
}
/*.saveloader{
  display: none;
  width: 30%;
  margin-right: 30%;
  float: left;
  z-index: 3000;
  }*/
._dismiss{
	background-image: url('/images/delete.png');
	width: 19px;
	height: 18px;
}
._top-left {
	font-family: devstiny;
	position: relative;
	top: 10px;
	margin-bottom: 15px;
	color: white;
}
._top-left:hover{
	text-decoration: none;
	color: white;
}
._logo {
	font-size: 50px;
	line-height: 45px;
}
._logo ._small{
    font-size: 45px;
}
._tagline{
	font-size: 20px;
}
._home{
	margin-top: 30px;
	margin-bottom: 25px;
}
a:focus {
	outline: thin;
	outline: 5px auto #55FF66;
}
ul._nav{
	list-style-type: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul._nav li{
	display: inline-block;
}

ul._top-right{
	position: absolute;
	right: 5%;
	top: 10px;
}
ul._top-right li{
	margin: 10px 0px 10px 10px;
}
ul._top-right li:first-child{
	position: relative;
	top: -10px;
}
ul._top-right a.btn {
color: #55FF66;
}
._bg-white{
	background-color: #fff;
	color: #333;
	display: inline-block;
	overflow-x: scroll;
	padding: 10px 2%;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
._bg-transparent{
	background-color: transparent;
	color: #fff;
	display: inline-block;
	width: 100%;
}

._bg-pink, label.active{
	background-color: #AAAAAA !important;
}
._pink{
	color: #FF6EE8 !important;
}
._aqua{
	color: aqua !important;
}
._black{
	color: black !important;
}
._aqua-hover{
	background-color: white;
	color: #333;
	text-decoration: none;
}
._aqua-hover:hover, a._aqua-hover:hover, ._aqua-hover:focus, a._aqua-hover:focus {
	background-color: #55FF66;
	color: black;/*#FF8;*/
	text-decoration: none;
}
._aqua-hover-text{
	color: white;
}
._aqua-hover-text:hover{
	color:#55FF66;
}
._aqua2pink{
	background-color: #55FF66;
	color: #333;
}
._aqua2pink:hover{
	/*background-color: #FF6EE8;*/
	background-color: #fff;
	color: black;
}
._pink2aqua{
	background-color: #FF6EE8;
	color: black;
}
._pink2aqua:hover{
	background-color: #55FF66 !important;
	color: black;
}
._fade-3{
	opacity: 0.3;
}
._fade-5{
	opacity: 0.5;
}
._right{
	text-align: right;
}
._left{
	text-align: left !important;
}
._righty{
	position: absolute;
	right: 0px;
}
._lefty{
	position: absolute;
	left: 0px;
}
._hide {
	display: none;
}
._w100{
	width:100% !important;
}
._w150{
	width:150px;
}
._max100{
	max-width: 100% !important;
}
._p0{
	padding: 0px !important;
}
._p5{
	padding: 5px !important;
}
._p10{
	padding: 10px !important;
}
._m0{
	margin: 0px !important;
}
._top-5{
	margin-top: -5px !important;
}
._bottom-5{
	margin-bottom: -5px !important;
}
._right-5{
	margin-right: -5px !important;
}
._left-5{
	margin-left: -5px !important;
}
._top-10{
	margin-top: -10px !important;
}
._bottom-10{
	margin-bottom: -10px !important;
}
._right-10{
	margin-right: -10px !important;
}
._left-10{
	margin-left: -10px !important;
}
._top5{
	margin-top: 5px !important;
}
._bottom5{
	margin-bottom: 5px !important;
}
._right5{
	margin-right: 5px !important;
}
._left5{
	margin-left: 5px !important;
}
._top10{
	margin-top: 10px !important;
}
._bottom10{
	margin-bottom: 10px !important;
}
._right10{
	margin-right: 10px !important;
}
._left10{
	margin-left: 10px !important;
}

._center{
	text-align: center;
	float: none;
}
._block{
	display: block;
}
._in-block{
	display: inline-block;
}
._inline{
	display: inline;
}
._brick{
	/*clear: none;*/
	margin-left: 10px;
}
._blade {
	padding: 10px 15px;
}
a._blade{
	color: #333;
}
._layer{
	width: 100% !important;
	display: inline-block;
	clear: both;
}
._strip {
	height: 0px;
	border-width: 0px 0px 50px 15px;
	border-style: solid;
	border-color: green pink white transparent;
	line-height: 55px;
	color: #333;
	text-indent: 5px;
	font-family: sans-serif;
	margin-bottom: 10px;
}
._strip span{
	margin: 5px;
}
._tail {
	width: 0px;
	height: 0px;
	border-width: 0px 0px 40px 15px;
	border-style: solid;
	border-color: green pink white transparent;
	float:right;
	margin-top: -40px;
}
._strip:hover {
	border-color: green pink #55FF66 transparent;
	color: black;/*#FF8;*/
	font-family: sans-serif; 
}
table ._list-img{
	width: 150px;
}
.mason-stacks{
	margin: 0 auto; 
}
.mason-stacks .item{
	border: 5px solid gray;
	border-radius: 5px;
	margin: 5px;
	width: 185px;
	height: auto;
	text-align: center;
}
/*.js-masonry .item .tagline{
	width: 150px;
}
*/
@font-face
{
font-family: devstiny;
src: url('../fonts/ARDESTINE.TTF'),
	url('../fonts/not-uploaded.eot'); /* IE9+ */
}

h1, h2, h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
}
a:hover {
	/*text-decoration: none;*/
	/*color: #FF6EE8;*/
}
._f10{
	font-size: 10px;
}
._f20{
	font-size: 20px;
}
._f30{
	font-size: 30px;
}
._f40{
	font-size: 40px;
}
._f50{
	font-size: 50px;
}
._f60{
	font-size: 60px;
}

.text-rotate {
	-webkit-transform: rotate(325deg);
	-moz-transform: rotate(325deg);
	-o-transform: rotate(325deg);
	-ms-transform:rotate(325deg);
	color:#000000;
	font-size:18px;
	font-family:arial, helvetica, sans-serif;
}


input, textarea{
	display: block;
	/*width: 100%;*/
}
input[type='checkbox']{
	width: auto;
}

input._search{
	width: 100%;
	padding-right: 30px;
	margin: 0px;
}
._search-icon {
	display: inline;
	width: 30px;
	height: 30px;
	background-image: url('/images/search.png');
	background-size: 70%;
	background-repeat: no-repeat;
	float: right;
	top: -27px;
	left: 5px;
	margin-bottom: -30px;
	position: relative;
}


/*.tail:hover {
	border-color: green pink white transparent;
}*/
#map-container{
	height: 290px;
	/*width: calc(100% - 200px);*/
	/*float: left;*/
}
#thedevsmap{
	height: 100%;
}
#pinmap{
	height: 100%;
}
._pin-map .modal-dialog{
	width: 100%;
}

/*._addbtn{
	position: relative;
	margin-right: 30px;
	margin-top: -20px;
	display: inline;
	float: right;
	margin-bottom: 5px;
	cursor: pointer;
	z-index: 1000;
}*/
._addbtn span{
	cursor: pointer;
	margin: 0px auto;
	padding: 10px 15px;
	font-size: 20px;
}
u{
	color: #0078A8;
	cursor: pointer;
}
fieldset._sweet-tooth{
	margin-top: 20px;
	border: 0px;
	border-top: 1px solid white;
}
legend._welcome{
	border: 0px !important;
	width:auto;
	margin: 5px;
}
._alert{
	width: 100%;
	min-height: 40px;
	border-radius: 4px;
	background-color: white;
	color: black !important;
	padding: 10px 15px;
	display: none;
}
/*._alert._data{
	background-color: white;
}*/
._alert._bg-pink{
	margin-top: -40px;
}
._alert a{
	color: #000cff;
	text-decoration: underline;
}
.alert{
	display: none;
	margin-bottom: 5px;
}
.modal{
	display: none;
	color: #333;
}
.modal form{
	display: inline-block;
	width: 100%;
}

.modal-body {
	position: relative;
	padding: 10px 20px;
}

.modal-header .close {
	padding: 5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #B4B4B4;
}

.modal-footer{
	clear: both;
	margin-top: 0px;
	padding: 10px 20px;
}
.form-control {
	margin: 0px 0px 10px 0px;
	width: auto;
}
.modal .form-control {
	width: 100%;
}

._creates .modal-body {
	padding: 0px 0px 0px 10px;
}
._cats .modal-header{
	margin-bottom: -10px;
	border-bottom: none;
}
._cats .modal-footer{
	padding: 20px 20px 10px;
	border-top: none;
}

._sign-in-modal .modal-dialog, ._sign-up-modal .modal-dialog{
	max-width: 570px;
	margin: 0px auto;
}
.btn-group {
	position: static;
	display: block;
	padding: 20px 0px;
	width: 100%;
	text-align: center;
	left: 0;
	z-index: 1000;
	float: left;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}
.btn-group>label {
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,1,.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,1,.2);
	width: 90%;
	margin-left: 5% !important;
	border-radius: 4px !important;
}
.btn-group>label>input {
	float: left;
	width: auto;
}

.popover{
	color: black
}

.pagination {
	float: right;
	margin: 0px;
	margin-top: 10px;
}

.pagination li {
	display: inline;
	margin: 5px;
}

table.admin{
	font-size: 12px;
}
/*tinymce*/
.mce-menubtn.mce-fixed-width span {
	width: auto !important;
}

.joyride-content-wrapper{
	text-align: center; 
	line-height: 2;
}
.joyride-tip-guide{
	padding: 20px;
}
.joyride-next-tip{
	position: relative; 
	top: 15px;
}
.joyride-close-tip {
	background-color: #525252;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.joyride-tip-guide {
	z-index: 2000; /*avoid ovelap by map on some devices*/
}

/* cc auth */
._oauth.facebook {
	border-color: #344e86;
	background-color: #3b5998;
	background-color: #4264aa;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#4264aa,#3b5998);
	background-image: -webkit-linear-gradient(top,#4264aa,#3b5998);
	background-image: -moz-linear-gradient(top,#4264aa,#3b5998);
	background-image: -ms-linear-gradient(top,#4264aa,#3b5998);
	background-image: -o-linear-gradient(top,#4264aa,#3b5998);
	background-image: linear-gradient(top,#4264aa,#3b5998);
}

._oauth.google {
	border-color: #d73925;
	background-color: #dd4b39;
	background-color: #e15f4f;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#e15f4f,#dd4b39);
	background-image: -webkit-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -moz-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -ms-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -o-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: linear-gradient(top,#e15f4f,#dd4b39);
}
._oauth.github {
	border-color: #000;
	background-color: #000;
	background-color: #000;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#000,#000);
	background-image: -webkit-linear-gradient(top,#000,#000);
	background-image: -moz-linear-gradient(top,#000,#000);
	background-image: -ms-linear-gradient(top,#000,#000);
	background-image: -o-linear-gradient(top,#000,#000);
	background-image: linear-gradient(top,#000,#000);
}
/*._oauth.twitter {
	border-color: #0099d3;
	background-color: #00aced;
	background-color: #07bbff;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#07bbff,#00aced);
	background-image: -webkit-linear-gradient(top,#07bbff,#00aced);
	background-image: -moz-linear-gradient(top,#07bbff,#00aced);
	background-image: -ms-linear-gradient(top,#07bbff,#00aced);
	background-image: -o-linear-gradient(top,#07bbff,#00aced);
	background-image: linear-gradient(top,#07bbff,#00aced);
}*/

._oauth span{
	background-position:0px -5px;
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
}

.icon-social-facebook {
	background-image: url('../images/fb.png');
}
.icon-social-google {
	background-image: url('../images/gg.png');
}
.icon-social-github {
	background-image: url('../images/gt.png');
}
/*.icon-social-twitter {
	background-image: url('../images/tw.png');
}
*/
/*._oauth {
	text-align: center;
	position: relative;
	color: white;
	width: 180px;
	height: 35px;
	line-height: 30px;
	padding: 0px;
	margin: 0 0 5px 0;
	border: 1px solid;
	display: inline-block;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0.9;
}*/
._oauth{
	display:block;
	width:90%;
	margin: 10px 5px;
	line-height: 30px;
	color: white;
	border: 1px solid;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
._oauth:hover {
	opacity: 1;
	color: white;
}
.cell.social-signin {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.cell.neutral.email-signin, .cell.neutral.email-signup {
	display: inline-block;
	width: 54%;
}
form.new_user input._text{
	width: 100%;
}
form.new_user input#remember-me{
	width: auto;
	display: inline;
	/*margin-top: 0px;*/
}
form ul{
	width: 100%;
	padding: 0px 10px;
	list-style: none;
}
._creates .modal-dialog{
	width: 80%;
	margin: 0px auto;
}

#single-map{
	width: 100%;
	height: 200px;
	background-color: gray;
}
img._profile-pic{
	height: 200px;
	width: 200px;
	margin-top: -200px;
	position: absolute;
}

._checkbox input{
	float: left;
	width: auto;
	margin: 10px;
	height: 30px;
}
._checkbox label{
	line-height: 30px;
	margin: 10px;
}
.vid-wrapper{
	width: 100%;
	max-width: 560px;
}
.vid-wrapper .media-box{
	width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.media-box iframe,
.media-box embed,
.media-box object{
	height: 100%;
	width: 100%;
}

/*leaflet edits*/
/*moving the zoom control*/
.leaflet-control-container{
	float: right;
}
.leaflet-left{
	width: 100%
}
.leaflet-control-zoom{
	margin-right: 10px;
	float: right;
}
.leaflet-control-locate {
	border: none;
	margin-right: 10px;
	float: right;
}
/*moving the attribution control*/

.leaflet-right{ 
	width: 100%;
}
.leaflet-control-attribution.leaflet-control{
	float: left;
}
.leaflet-top, .leaflet-bottom {
	z-index: 10;
}
/*addthis edits for design*/
/*div#at4-follow{
	z-index: 20;
	margin-right: 5%;
	top: auto;
	bottom: 50px;
}
#at4-foc {
	top: auto;
	bottom: 65px;
}
.at4-follow-inner{
	padding-right: 0px !important;
}
.at4-follow.at4-follow-24 .at4-follow-container {
	margin: 0px;
}
.at4-icon-fw.aticon-google_follow {
	margin-right: 0px;
}*/
/*addthis edits for bottom version*/

.at4-follow{
	top:auto;
	bottom: 10px;
	right: 5%;
}
.at-follow-open-control{
	top:auto;
	bottom: 10px;
	right: 5%;
}
.at4-follow-inner {
	padding-right: 0px !important;
}
.at4-follow-container {
	margin-right: -5px !important;
}
.at4-arrow{
	background-color: white;
}
.atss a{
	background: transparent !important;
	border-bottom: 0px;
}
.addthis_32x32_style .at15nc.at15t_facebook{
	background-image: url('/images/social/facebook.png') !important;
	background-position: -5px -5px !important;
	background-size: 40px !important;
}
.addthis_32x32_style .at15nc.at15t_twitter{
	background-image: url('/images/social/twitter.png') !important;
	background-position: -5px -5px !important;
	background-size: 40px !important;
}
.addthis_32x32_style .at15nc.at15t_google_plusone_share{
	background-image: url('/images/social/google.png') !important;
	background-position: -5px -5px !important;
	background-size: 40px !important;
}
.addthis_32x32_style .at15nc.at15t_linkedin{
	background-image: url('/images/social/linkedin.png') !important;	
	background-position: -5px -5px !important;
	background-size: 40px !important;
}
.addthis_32x32_style .at15nc.at15t_email{
	background-image: url('/images/social/mail.png') !important;	
	background-position: -5px -5px !important;
	background-size: 40px !important;
}
.addthis_32x32_style .at15nc.at15t_compact{
	background-image: url('/images/social/plus.png') !important;	
	background-position: -5px -5px !important;
	background-size: 40px !important;
}

/*table styling*/
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: transparent;
}
.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
	border: 0px;
}
.table-bordered>thead>tr {
	border-bottom: 2px solid #ddd;
}
.table-bordered>tbody>tr {
	border-top: 1px solid #ddd;
}
.table-bordered{
	border:0px;
}
.table-bordered tbody{
	border-bottom:1px solid #ddd;
}
.table-bordered>thead>tr>th:last-child, .table-striped>tbody>tr>td:last-child{
	text-align:right;
}
._bg-transparent legend{
	color: white;
	border: 1px solid white;
	border-radius: 4px;
}
._bg-transparent span.links{
	float:right;
}
span.links{
	display:none;
}
.slide-out-div {
  padding: 10px;
  width: 150px;
  background: #FFF;
  border: 1px solid #00142C;
  display: none;
}

@media (max-width: 1000px) {
	._creates .modal-dialog{
		width: 90%;
		margin: 0px auto;
	}
}
@media (max-width: 800px) {
	._header{
		text-align: center;
	}
	._logo {
		display: block;
		font-size: 40px;
	}
	._logo ._small {
		font-size: 35px;
	}
	ul._top-right {
		position: relative;
		top: -10px;
		right: 0px;
	}
	ul._top-right li:first-child {
		position: relative;
		top: 0px;
		display: block;
	}
	ul._top-right li{
		margin: 10px 0px 10px 5px;
	}
	

}
@media (max-width: 605px) {
	._oauth{
		width: 100%;
	}
	.cell.social-signin {
		display: block;
		margin: 0px 10px 0px 0px;
		width: auto;
	}
	.cell.neutral.email-signin, .cell.neutral.email-signup {
		width: 100%;
	}
}
@media (max-width: 550px) {
	._strip{
		border-width: 0px 0px 40px 15px;
		line-height: 40px;
	}
	._blade {
		padding: 10px 10px;
	}
	._brick{
		width: 100%;
	}
	#map-container{
		clear: both;
	}
	._tagline {
		font-size: 15px;
		line-height: 1;
	}
	._creates .modal-dialog{
		width: 100%;
		margin: 0px auto;
	}
	._addbtn span{
		display: block;
		margin: 0px 0px 20px 0px !important;
	}
	img._profile-pic{
		width: 100%;
		max-height: none;
		display: block;
		margin: 0px auto;
		float: none;
		position: relative;
		top: 0px;
		height: auto;
	}
	table._bio {
		float: none;
	}
	#single-map table{
		width: auto;
		margin: 100px 0px 0px 0px;
	}
	._footer ._nav{
		margin-bottom: 30px;
	}
	._footer ._nav li{
		height: 30px;
	}
	._footer ._follow {
		margin-top: -15px;
		float: left;
	}
}

@media (max-width: 440px){
	ul._top-right {
		float: none;
		display: block;
		margin: 10px 0px;
	}
	._header{
		text-align: center !important;
	}
}