body {
	position: absolute;
	width: 90%;
	left: 5%;
	padding: 0px;

	font-family: Verdana,Helvetica,Arial,sans-serif;
	background: #d9d9d9 url('../images/neue_bg.jpg') repeat-y;
	background-size: 100%;
	color: white;
}

.middles {
	/*max-width: 1000px;*/
	margin: 0px auto;
}

@media (max-width: 600px) {
  .middles {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .middles {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .middles {
    width: 80%;
  }
}
.wrapper{
  position: absolute;
  top: 0px;
  width:100%;
  min-height: 100%;
  /*max-width: 1369px;*/
  height:auto;
  /*left:0px;*/
  margin: 0px auto;
}

.container{
  position: relative;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 5px;
}
.content{
  padding: 10px 2% 20px 2%;
  position: relative;
  width: auto;
  min-height: 300px;
  clear: both;
  background-color: #fff;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  margin-top: 10px;
  color: #333;
  /*overflow: hidden;*/
}
.preload{
  display: none;
  width: 30%;
  margin-top: 20%;
  position: fixed;
  margin-left: 35%;
  z-index: 3000;
}
/*.saveloader{
  display: none;
  width: 30%;
  margin-right: 30%;
  float: left;
  z-index: 3000;
  }*/
 .alert{
  margin-bottom: 0px;
  display: none;
}

@font-face
{
font-family: devstiny;
src: url('../fonts/ARDESTINE.TTF'),
	url('../fonts/not-uploaded.eot'); /* IE9+ */
}

a:hover {
	text-decoration: none;
}
._charm{
	color: white;
}
._charm:hover{
	color:aqua;
}
._charmtext{
	color: white;
}
._charmtext:hover{
	color:aqua;
}
.head {
	font-family:devstiny;
    font-size: 54px;
    line-height: 54px;
    margin: 0;
    text-shadow: 0 1px 5px black;
    position: relative;
    top: 24px;
    max-width: 918px;
    height: 62px;
    overflow: hidden;
    color: white;
}
.motto{
	font-size: 20px;
	line-height: 1;
}
.head .small{
    font-size: 45px;
}

.brick{
	width:10%;
	min-width: 150px;
	clear: none;
}

ul._nav{
	list-style-type: none;
	list-style: none;
	float: right;
	display: inline;	
	clear: none;
	line-height: 4em;
	margin: 0px;
	padding: 0px;
	width: auto;
	top: -30px;
	text-align: center;
}
ul._nav li{
	display: inline-block;
	margin: 0px 5px;
}
ul._nav > li > a{
	display: inline;
}
.middles{
	width: 90%;
}
.layer{
	clear: both;
}
._charm{
	background-color: white;
	color: #333;
	text-decoration: none;
	padding: 10px 15px;
}
._charm:hover, a._charm:hover, ._aqua-hover:hover, ._charm:focus, a._charm:focus, ._aqua-focus:focus {
	background-color: aqua;
	color: black;/*#FF8;*/
	font-family: sans-serif; 
	text-decoration: none;
}
._charm-btn{
	padding: 6px 12px;
}

.bladenav {
	float: right;
}

._strip {
	height: 0px;
	border-width: 0px 0px 40px 15px;
	border-style: solid;
	border-color: green pink white transparent;
	line-height: 40px;
	color: #333;
	text-indent: 10px;
	font-family: sans-serif; 
	margin-top: 10px; 
}
._tail {
	width: 0px;
	height: 0px;
	border-width: 0px 0px 40px 15px;
	border-style: solid;
	border-color: green pink white transparent;
	float:right;
	margin-top: -40px;
}
._strip:hover {
	border-color: green pink aqua transparent;
	color: black;/*#FF8;*/
	text-indent: 10px;
	font-family: sans-serif; 
}
/*.tail:hover {
	border-color: green pink white transparent;
}*/
#map{
	height: 250px;
	width: calc(100% - 160px);
	float: left;
}
.layer2 {
	margin-top: 50px:
	display:inline; 
	width: 100%;
	height:200px;
	top: 50px;
	position: relative;
}

.mapsearch{
	width: 100%;
	margin-top: -10px;
	margin-bottom: 5px;
}
.mapsearch form{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-shadow: none;
}
.mapsearch form input{
	width: calc(100% - 75px);
	display: inline-block;
}
._addbtn{
	/*clear: both;*/
	position: relative;
	margin-right: 175px;
	margin-top: -20px;
	display: inline;
	float: right;
	background-color: #FF6EE8;
}
._caller{
	background-color: aqua;
}
._caller:hover{
	background-color: #FF6EE8 !important;
}
._alert{
	width: 100%;
	height: 40px;
	margin-top: 280px;
	display: none;
	position: absolute;
	left: 0px;
}
._bg{
	background-color: white;
}
._aqua{
	background-color: aqua;
	/*top:-55px;*/
}
._pink, label.active{
	background-color: #FF6EE8;
}
._hide {
	display: none;
}
._data{
	background-color: transparent;
	color: black;
	padding: 10px 15px;
	/*top:-55px;*/
}
.modal{
	display: none;
}

/*._select{
	width: 100%;
}*/
.modal-footer{
	clear: both;
}


.btn-group {
	position: static;
	display: block;
	padding: 20px 0px;
	width: 100%;
	text-align: center;
	left: 0;
	z-index: 1000;
	float: left;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}
.btn-group>label {
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,1,.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,1,.2);
	width: 90%;
	margin-left: 5% !important;
	border-radius: 4px !important;
}
.btn-group>label>input {
	float: left;
}
.modal-body {
	position: relative;
	padding: 10px;
}


/* cc auth */
.social-signup.facebook {
	border-color: #344e86;
	background-color: #3b5998;
	background-color: #4264aa;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#4264aa,#3b5998);
	background-image: -webkit-linear-gradient(top,#4264aa,#3b5998);
	background-image: -moz-linear-gradient(top,#4264aa,#3b5998);
	background-image: -ms-linear-gradient(top,#4264aa,#3b5998);
	background-image: -o-linear-gradient(top,#4264aa,#3b5998);
	background-image: linear-gradient(top,#4264aa,#3b5998);
	padding-right: 2px;
}

.social-signup.google {
	border-color: #d73925;
	background-color: #dd4b39;
	background-color: #e15f4f;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#e15f4f,#dd4b39);
	background-image: -webkit-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -moz-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -ms-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -o-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: linear-gradient(top,#e15f4f,#dd4b39);
}

.social-signup.twitter {
	border-color: #0099d3;
	background-color: #00aced;
	background-color: #07bbff;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#07bbff,#00aced);
	background-image: -webkit-linear-gradient(top,#07bbff,#00aced);
	background-image: -moz-linear-gradient(top,#07bbff,#00aced);
	background-image: -ms-linear-gradient(top,#07bbff,#00aced);
	background-image: -o-linear-gradient(top,#07bbff,#00aced);
	background-image: linear-gradient(top,#07bbff,#00aced);
}

.icon-social-facebook {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	background-image: url('../images/fb.png');
	background-position: center center;
}
.icon-social-google {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	background-image: url('../images/gg.png');
	background-position: center center;
}
.icon-social-twitter {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	background-image: url('../images/tw.png');
	background-position: center center;
}

.social-signup {
	border: 1px solid;
	text-align: center;
	/*padding: 10px;*/
	line-height: 2;
	position: relative;
	color: white;
	width: 180px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	display: inline-block;
	opacity: 0.9;
}

.social-signup:hover {
	opacity: 1;
	color: white;
}
form.new_user input._text{
	width: 100%;
}