.content{
/*  padding: 10px 2% 20px 2%;
  position: relative;
  width: auto;
  min-height: 350px;
  clear: both;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  margin-top: 10px;*/
  /*background-color: #fff;*/
  /*color: #333;*/
  /*overflow-x: scroll;*/
	background-color: transparent;
  overflow: hidden;
  padding: 0px;
}