body{
	background: #d9d9d9 url('../images/neue_bg.jpg') repeat-y;
	background-size: 100%;
}

._wrapper{
	position: absolute;
	width:100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	display: inline;
	color: #fff;
}
._header{
	display: inline-block;
	width: 100%;
}
._container{
	min-height: calc(100% - 65px);
	background-color: transparent;
}
._footer{
	display: inline-block;
	padding-bottom: 20px;
	background-color: black;
	border-top: 5px solid aqua;
	width: 100%;
}
._footer ._nav{
	position: relative;
	top: 20px;
	margin: 0px;
	padding-bottom: 20px;
}
._footer a{
	color: white;
}
._middle{
	width: 90%;
	margin: 0px auto;
	/*margin-left: 5%;*/
}

.page-header {
	margin: 10px 0px;
}

.preload{
  display: none;
  width: 30%;
  /*margin-top: 20%;*/
  /*position: fixed;*/
  margin-left: 35%;
  z-index: 3000;
}
/*.saveloader{
  display: none;
  width: 30%;
  margin-right: 30%;
  float: left;
  z-index: 3000;
  }*/

._top-left {
	font-family: devstiny;
	position: relative;
	margin-top: 25px;
	color: white;
	margin: 0;
}
._top-left:hover{
	text-decoration: none;
	color: white;
}
._logo {
	font-size: 50px;
	display: block;
}
._logo ._small{
    font-size: 45px;
}
._tagline{
	font-size: 20px;
}

ul._top-right{
	float: right;
	width: auto;
	margin-top: 40px;
	margin-bottom: 25px;
	display: table;
}
ul._top-right li{
	margin: 10px 0px 10px 10px;
}
._bg-white{
	background-color: #fff;
	color: #333;
	display: inline-block;
	overflow-x: scroll;
	padding: 10px 2%;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
._bg-transparent{
	background-color: transparent;
	color: #fff;
	display: inline-block;
	width: 100%;
}

.bg-pink, label.active{
	background-color: #FF6EE8;
}
._aqua{
	color: aqua;
}

._aqua-hover{
	background-color: white;
	color: #333;
	text-decoration: none;
}
._aqua-hover:hover, a._aqua-hover:hover, ._aqua-hover:focus, a._aqua-hover:focus {
	background-color: aqua;
	color: black;/*#FF8;*/
	text-decoration: none;
}
._aqua-hover-text{
	color: white;
}
._aqua-hover-text:hover{
	color:aqua;
}
._aqua2pink{
	background-color: aqua;
	color: #333;
}
._aqua2pink:hover{
	background-color: #FF6EE8 !important;
	color: black;
}
._pink2aqua{
	background-color: #FF6EE8;
	color: black;
}
._pink2aqua:hover{
	background-color: aqua !important;
	color: black;
}
._right{
	position: absolute;
	right: 0px;
}
._left{
	position: absolute;
	left: 0px;
}
._hide {
	display: none;
}
._w100{
	width:100% !important;
}
._max100{
	max-width: 100% !important;
}
._p0{
	padding: 0px !important;
}
._p5{
	padding: 5px !important;
}
._p10{
	padding: 10px !important;
}
._m0{
	margin: 0px !important;
}
._top10{
	margin-top: 10px !important;
}
._bottom10{
	margin-bottom: 10px !important;
}
._right10{
	margin-right: 10px !important;
}
._left10{
	margin-left: 10px !important;
}

._center{
	text-align: center;
	float: none;
}
._in-block{
	display: inline-block;
}
._inline{
	display: inline;
}
._brick{
	width:10%;
	min-width: 150px;
	clear: none;
}
._blade {
	padding: 10px 15px;
}

._strip {
	height: 0px;
	border-width: 0px 0px 40px 15px;
	border-style: solid;
	border-color: green pink white transparent;
	line-height: 40px;
	color: #333;
	text-indent: 10px;
	font-family: sans-serif; 
	margin-bottom: 10px; 
}
._tail {
	width: 0px;
	height: 0px;
	border-width: 0px 0px 40px 15px;
	border-style: solid;
	border-color: green pink white transparent;
	float:right;
	margin-top: -40px;
}
._strip:hover {
	border-color: green pink aqua transparent;
	color: black;/*#FF8;*/
	text-indent: 10px;
	font-family: sans-serif; 
}

.btn{
	margin: 5px;
}

@font-face
{
font-family: devstiny;
src: url('../fonts/ARDESTINE.TTF'),
	url('../fonts/not-uploaded.eot'); /* IE9+ */
}

h1, h2, h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF6EE8;
}
._f10{
	font-size: 10px;
}
._f20{
	font-size: 20px;
}
._f30{
	font-size: 30px;
}
._f40{
	font-size: 40px;
}
._f50{
	font-size: 50px;
}
._f60{
	font-size: 60px;
}

.text-rotate {
-webkit-transform: rotate(325deg);
-moz-transform: rotate(325deg);
-o-transform: rotate(325deg);
-ms-transform:rotate(325deg);
color:#000000;
font-size:18px;
font-family:arial, helvetica, sans-serif;
}
ul._nav{
	list-style-type: none;
	list-style: none;
	padding: 0px;
}
ul._nav li{
	display: inline-block;
}

input, textarea{
	display: block;
	/*width: 100%;*/
}
input[type='checkbox']{
	width: auto;
}

._search-btn{
	padding: 6px 12px;
	float: right;
	margin: 0px;
}


/*.tail:hover {
	border-color: green pink white transparent;
}*/
#map{
	/*height: 250px;*/
	height: 240px;
	width: calc(100% - 160px);
	float: left;
}

form.mapsearch{
	width: 100%;
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-shadow: none;
}
form.mapsearch input{
	width: calc(100% - 85px);
	display: inline-block;
	margin-top: 0px;
}
._addbtn{
	/*clear: both;*/
	position: relative;
	/*margin-right: 175px;*/
	margin-right: 30px;
	margin-top: -20px;
	display: inline;
	float: right;
	background-color: #FF6EE8;
	margin-bottom: 5px;
}
.alert{
	line-height: 1;
	margin-bottom: 10px;
	display: none;
}

._alert{
	width: 100%;
	min-height: 40px;
	margin-bottom: 5px;
	border-radius: 4px;
	background-color: #FFA1DD;;
	color: black;
	padding: 10px 15px;
	display: none;
}

.modal{
	display: none;
	color: #333;
}
.modal form{
	display: inline-block;
	width: 100%;
}

.modal-body {
	position: relative;
	padding: 10px;
}

._creates .modal-body {
	padding: 0px 0px 0px 10px;
}

.modal-footer{
	clear: both;
}
.form-control {
	margin: 0px 0px 10px 0px;
	width: auto;
}
.modal .form-control {
	width: 100%;
}
._sign-in-modal .modal-dialog, ._sign-up-modal .modal-dialog{
	max-width: 570px;
	margin: 0px auto;
}
.btn-group {
	position: static;
	display: block;
	padding: 20px 0px;
	width: 100%;
	text-align: center;
	left: 0;
	z-index: 1000;
	float: left;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}
.btn-group>label {
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,1,.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,1,.2);
	width: 90%;
	margin-left: 5% !important;
	border-radius: 4px !important;
}
.btn-group>label>input {
	float: left;
	width: auto;
}

/* cc auth */
._oauth.facebook {
	border-color: #344e86;
	background-color: #3b5998;
	background-color: #4264aa;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#4264aa,#3b5998);
	background-image: -webkit-linear-gradient(top,#4264aa,#3b5998);
	background-image: -moz-linear-gradient(top,#4264aa,#3b5998);
	background-image: -ms-linear-gradient(top,#4264aa,#3b5998);
	background-image: -o-linear-gradient(top,#4264aa,#3b5998);
	background-image: linear-gradient(top,#4264aa,#3b5998);
	padding-right: 2px;
}

._oauth.google {
	border-color: #d73925;
	background-color: #dd4b39;
	background-color: #e15f4f;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#e15f4f,#dd4b39);
	background-image: -webkit-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -moz-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -ms-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: -o-linear-gradient(top,#e15f4f,#dd4b39);
	background-image: linear-gradient(top,#e15f4f,#dd4b39);
}

._oauth.twitter {
	border-color: #0099d3;
	background-color: #00aced;
	background-color: #07bbff;
	background-image: deprecated-webkit-gradient(linear,left top,left bottom,#07bbff,#00aced);
	background-image: -webkit-linear-gradient(top,#07bbff,#00aced);
	background-image: -moz-linear-gradient(top,#07bbff,#00aced);
	background-image: -ms-linear-gradient(top,#07bbff,#00aced);
	background-image: -o-linear-gradient(top,#07bbff,#00aced);
	background-image: linear-gradient(top,#07bbff,#00aced);
}
._oauth span{
	background-position:0px -5px;
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
}

.icon-social-facebook {
	background-image: url('../images/fb.png');
}
.icon-social-google {
	background-image: url('../images/gg.png');
}
.icon-social-twitter {
	background-image: url('../images/tw.png');
}

._oauth {
	text-align: center;
	position: relative;
	color: white;
	width: 180px;
	height: 35px;
	line-height: 30px;
	padding: 0px;
	margin: 0 0 5px 0;
	border: 1px solid;
	display: inline-block;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0.9;
}

._oauth:hover {
	opacity: 1;
	color: white;
}
form.new_user input._text{
	width: 100%;
}
form.new_user input#remember-me{
	width: auto;
	display: inline;
	/*margin-top: 0px;*/
}
form ul{
	width: 100%;
	padding: 0px 10px;
	list-style: none;
}
._creates .modal-dialog{
	width: 80%;
	margin: 0px auto;
}

#single-map{
	width: 100%;
	height: 200px;
	background-color: gray;
}
img._profile-pic{
	height: 200px;
	margin-top: -200px;
	/*display: table;*/
	z-index: 999;
	position: absolute;
}
table._bio{
	float:right;
	color: #333;
}
._checkbox input{
	float: left;
	width: auto;
	margin: 10px;
	height: 30px;
}
._checkbox label{
	line-height: 30px;
	margin: 10px;
}
.vid-wrapper{
	width: 100%;
	max-width: 560px;
}
.vid-wrapper .media-box{
	width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.media-box iframe,
.media-box embed,
.media-box object{
	height: 100%;
	width: 100%;
}

/*leaflet edits*/

.leaflet-control-container{
	float: right;
}
.leaflet-left{
	width: 100%
}
.leaflet-control-zoom{
	margin-right: 10px;
	float: right;
}
/*addthis edits*/
.at4-follow{
	top:auto;
	bottom: 10px;
	right: 5%;
}
.at-follow-open-control{
	top:auto;
	bottom: 10px;
	right: 5%;
}
.at4-follow-inner {
	padding-right: 0px !important;
}
.at4-follow-container {
	margin-right: -5px !important;
}
.at4-arrow{
	background-color: white;
}

@media (max-width: 1000px) {
	._creates .modal-dialog{
		width: 90%;
		margin: 0px auto;
	}
}
@media (max-width: 605px) {
	._oauth{
		width: 100%;
	}
}
@media (max-width: 550px) {
	._logo {
		font-size: 40px;
	}
	._logo ._small {
		font-size: 35px;
	}
	._tagline {
		font-size: 15px;
		line-height: 1;
	}

	ul._top-right{
		margin: 40px 0px 10px;
	}
	ul._top-right li{
		margin: 10px 0px 10px 5px;
	}

	._blade {
		padding: 10px 10px;
	}
	._brick{
		width: 100%;
	}
	#map{
		width: 100%;
	}
	._creates .modal-dialog{
		width: 100%;
		margin: 0px auto;
	}
	table._block{
		float: none;
	}
	img._profile-pic{
		width: 100%;
		max-height: none;
		display: block;
		margin: 0px auto;
		float: none;
		position: relative;
		top: 0px;
		height: auto;
	}
	table._bio {
		float: none;
	}
	#single-map table{
		width: auto;
		margin: 100px 0px 0px 0px;
	}
	._footer{
		min-height: 90px;
	}
	._footer ._nav{
		padding-bottom: 40px;
	}
	._footer ._nav li{
		height: 30px;
	}
}

@media (max-width: 440px){
	ul._top-right {
		float: none;
		display: block;
		margin: 10px 0px;
	}
	._header{
		text-align: center !important;
	}
}